html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url('https://res.cloudinary.com/vapochino-indonesia/image/upload/v1722007376/4_unbnvy.webp');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding-top: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
  flex-direction: column;
}

.container {
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }

  .card {
    background: rgba(255, 255, 255, 0.1);
  }
}

.card {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius:20px;
  transition: background-color 0.5s ease;
}

.card-body {
  color: #fff;
}
.card-title span{
  color: #eb2424;
  font-weight: 900;
}
.container img{
  width: 100px;
  max-width: 300px;
  height: auto;
}
.btn-generate {
  background-color: #230f31;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 30px;
}

.btn-generate:hover {
  background-color: #3a006d;
  transform: translateY(-5px);
}

.btn-generate:focus {
  box-shadow: 0 0 0 0.25rem rgba(23, 11, 32, 0.5);
}

.spinner-border {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

footer p {
  margin: 0;
}
.bouncing {
  display: inline-block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}